.side-bar{
    flex: 1;
    background-color: rgb(0, 10, 17);
    color: white;
    border-right: 1px solid #fff;
    ul{
        list-style: none;
    }

    .top{
        margin-top: 20px;

        .logo{
            width: 42px;
            height: 42px;
            margin: auto;
            border: 1px solid #fff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            font-weight: 700;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        
        .title{
            text-align: center;
            font-size: 30px;
            margin-top: 20px;
            cursor: pointer;
        }


    }

    .mid{
        cursor: pointer;
        .link{
            text-decoration: none;
            color: rgb(243, 243, 243);
        }

        .list-1 ul li:hover,
        .list-2 ul li:hover,
        .list-3 ul li:hover {
            background-color: rgb(243, 243, 243);
            color: rgb(0, 10, 17);
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
        }

        .list-1, .list-2, .list-3{
            .sidebar-icon{
                margin-right: 5px;
            }
        }

        .list-2 ul li, .list-3 ul li{
            line-height: 35px;
        }

        .list-1 ul li{
            line-height: 35px;
        }
    }

    .button{
        background-color: rgb(0, 10, 17);
        border: 1px solid #fff;
        display: block;
        margin: auto;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        transition: .6s;
        -webkit-transition: .6s;
        -moz-transition: .6s;
        -ms-transition: .6s;
        -o-transition: .6s;
        
        &:hover
        {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 10, 17);
            border: 1px solid #fff;
        }
    }

}