.profile{

    .profile-inner{

        margin-top:30px;
        text-align: center;

        p{
            margin-top:15px;
            font-size:22px;
            font-weight: 600;
        }

        .my-img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: block;
            margin: auto;
            cursor: pointer;
        }

        .toggle-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
        }

    }

}

.menus{

    margin-top:20px;
    padding-top:20px;
    border-top: 1px solid #fff;

    .menu-list{

        ul{
            padding-left: 0rem;
        }

        ul li{
            padding-left:25px;
            line-height: 54px;
            list-style: none;
            font-size: 19px;
            color: aliceblue;
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
        }

        .toggle-ui{
            padding-left:0px;
        }
        .toggle-ui li{
            padding-left:8px;
        }

        ul li:hover{
            background-color: #fff;
            color: black;
        }

        .link{
            text-decoration: none;
            color: aliceblue;
        }

        .icon{
            margin-right: 12px;
        }

        .toggle-ui li.icon{
            margin-right: 0px;
        }
    }

}