.appbar{
    background-color: #000000c0 !important;
}

.side-bar-container{

    display: flex;
    position: relative;

    .home-container{
        background-image: url("../../img/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        width: 100%;
        background-attachment: scroll;
        position: relative;
    }
}
.about-section{
    height: 100vh;
    width: 100%;
    display: block;

    h1{
        text-align: center;
        font-size:45px;
    }
}