.appbar{
    background-color: #000000c0 !important;
}

.side-bar-container{

    display: flex;
    position: relative;

    .home-container{
        background-image: url("../../img/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:70vh;
        width: 100%;
        display: block;
        background-attachment: scroll;
        position: relative;
    }

    @media (max-width:768px) {
        .home-container{
            height: 125vh;
            display: block;
        }
    }
}
.about-section{
    height: auto;
    width: 100%;
    display: block;

    h1{
        text-align: center;
        font-size:45px;
    }
}